version: 2.1
jobs:
  build:
    working_directory: ~/hello-sts
    docker:
      - image: circleci/node:12.16.0
    steps:
      - checkout
      - run:
          name: update-npm
          command: 'sudo npm install -g npm@latest'
      - restore_cache:
          key: dependency-cache-{{checksum "package-lock.json"}}
      - run:
          name: install-npm
          command: npm install
      - save_cache:
          key: dependency-cache-{{checksum "package-lock.json"}}
          paths:
            - ./node_modules
  deploy:
    machine:
      enabled: true
    steps:
      - checkout
      - run:
          name: build project
          command: npm run build
      - run:
          name: Config SSH
          command: ssh-keyscan 138.118.174.103 >> ~/.ssh/known_hosts
      - run:
          name: Deploy over SSH
          command: rsync -avce ssh --delete ./dist root@138.118.174.103:/root/crud-type

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
