version: 2.1
jobs:
  deploy:
    machine:
      enabled: true
    steps:
      - checkout
      - run:
          name: Config SSH
          command: ssh-keyscan 138.118.174.103 >> ~/.ssh/known_hosts
      - run:
          name: Deploy over SSH
          command: rsync -avce ssh --delete ./ root@138.118.174.103:/root/crud-type
      - run: 
          name: Build Project
          command: ssh root@138.118.174.103 "rm -rf temp & mkdir temp && mv crud-type-prod/.env temp/.env && rm -rf crud-type-prod && cd crud-type/ && yarn && yarn build && mv package.json dist/package.json && mv dist/ ../crud-type-prod && yarn && cd .. && mv temp/.env crud-type-prod/.env && rm -rf crud-type && rm -rf temp && cd crud-type-prod && yarn"

workflows:
  version: 2
  build-and-deploy:
    jobs:
      - deploy
